body {
    background-color: #fff;
    margin: 0;
  }
  header {
    font-size: 20px;
    position: fixed;
    width: 100%;
  }
  a {
    color: black;
    text-decoration: none;
  }
  span {
    padding: 3% 3% 0 3%;
  }
  p {
  margin: 0;
}
 h1{
   text-align: center;
   padding:10% 5% 2.5% 5%;
 }
  /* menu */
  .menu_bar {
    padding: 15px 10px 10px 15px;
    background-color: rgba(109, 103, 103, 0.103);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rome,
  .info,
  .history,
  .food,
  .pic_palce {
    color: #fff;
  }
/* food */
.food_title{
    padding:10% 5% 2.5% 5%;
    text-align: center;
}
.pic_foodbox{
    width: 50%;
    display: flex;
}
.space{
    margin: 25%;
}
.food_pic1{
    width: 100%;
}
.pasta_name{
    display: flex;
    justify-content: center;
}
.pasta_sent{
    text-align: justify;
    padding: 3% 15% 3% 15%;
}

/* bottom part1 style */
.bottom_part1 {
  width: 100%;
  height: 300px;
  margin: 0%;
  background-color: #e7d1c1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom {
  display: inline-block;
  text-align: center;
  margin: 0%;
  width: 300px;
}
.pic {
  width: 80px;
}

/* footer part style */
footer {
  width: 100%;
  height: 100px;
  background-color: #1e1212;
  display: inline-block;
}
.footer {
  color: white;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sentence {
  font-size: 2em;
}
.sentence_1 {
  font-size: 1.3em;
}
.footer_m {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_p p {
  display: inline;
  border-left: 3px solid #fff;
  padding: 0 20px;
}
.footer_p p:first-child {
  border: none;
}
.footer_i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fi {
  width: 30px;
  margin: 10px;
}
