body {
  background-color: #fff;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
header {
  font-size: 30px;
  position: fixed;
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
span {
  padding: 3% 3% 0 3%;
}
p {
  margin: 0;
  font-size: 17px;
}
h2{
  font-size: 35px
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* menu */
.menu_bar {
  padding: 15px 10px 10px 15px;
  background-color: rgba(109, 103, 103, 0.103);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rome,
.info,
.history,
.food,
.pic_palce {
  color: black;
}
.rome:hover{
  opacity: 0.6;
}
.info:hover{
  opacity: 0.6;
}
.history:hover{
  opacity: 0.6;
}
.food:hover{
  opacity: 0.6;
}
.pic_palce:hover{
  opacity: 0.6;
}
/* colossem */
.pic_box1 {
  width: 100%;
  height: 1200px;
  background-image: url(images/home_colossem.jpg);
  background-size: cover;
  background-position: center 66%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

/* Infomation*/
.info_box {
  width: 100%;
  display: flex;
}
.sent_info {
  width: 35%;
  text-align: center;
  padding: 0 5% 0 5%;
}
.pic_box2 {
  width: 65%;
}
.home_pic2 {
  width: 100%;
  vertical-align: bottom;
}

/* history */
.history_space {
  display: flex;
}
.sent_history {
  text-align: center;
}
.sent_history p{
  padding: 0 5% 0 5%;
}
.space {
  width: 25%;
  background-image: url(images/roma_word.gif);
  background-size: 25%;
  background-attachment: fixed;
  transform: rotate(-90deg);
  position: relative;
}
.pic_box3 {
  width: 75%;
}
.home_pic3 {
  width: 100%;
  height: 100%;
  position: relative;
}

/* pizza */
.food_box {
  display: flex;
}
.sent_food {
  width: 50%;
  text-align: center;
}
.sent_food p {
  padding: 0 5% 0 5%;
}
.pic_box4 {
  width: 50%;
}
.home_pic4 {
  width: 100%;
  height: 100%;
}

/* bottom part1 style */
.bottom_part1 {
  width: 100%;
  height: 300px;
  margin: 0%;
  background-color: #e7d1c1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom {
  display: inline-block;
  text-align: center;
  margin: 0%;
  width: 300px;
}
.pic {
  width: 80px;
}

/* footer part style */
footer {
  width: 100%;
  height: 100px;
  background-color: #1e1212;
  display: inline-block;
}
.footer {
  color: white;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sentence {
  font-size: 2em;
}
.sentence_1 {
  font-size: 17px;
}
.footer_m {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_p p {
  display: inline;
  border-left: 3px solid #fff;
  padding: 0 20px;
}
.footer_p p:first-child {
  border: none;
}
.footer_i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fi {
  width: 30px;
  margin: 10px;
}
